h1{
    text-align: center;
}

legend{
    background-color: bisque;
    border: 1px solid black;
}

table{
    margin: 0px auto;
}

form{
    width: 50%;
    margin: 0px auto;
}

fieldset{
    background-color:darkgray
}

input:invalid{
    background-color: pink;
    border: 2px dotted greenyellow;
}